# Track all .dylib, .lld, and .a files with Git LFS
*.dylib filter=lfs diff=lfs merge=lfs -text
*.lld filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text

# Specific large files or directories patterns
Library/ArtifactDB* filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/**/*.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/**/*.lld filter=lfs diff=lfs merge=lfs -text
# Specific files without specific extensions
Library/PackageCache/com.unity.burst@1.6.5/.Runtime/hostlin/lld filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.6.5/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.6.5/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
*.dsymutil filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.cubemap filter=lfs diff=lfs merge=lfs -text
